@import "/src/assets/colors.scss";


.main-button {
    text-decoration: none;
    height: 3rem;
    font-weight: 500;
    border-radius: 1.25rem;
    background-color: $PrimaryColor;
    color: white;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #3482FF;
        clip-path: circle(1%);
        z-index: -11;
        border-radius:1.25rem;
        transition: all 0.5s ease-in-out;
    }

    &:hover::after {
        clip-path: circle(100%);

    }

    &:hover {
        transition: 0.5s ease-in-out;
        border: none;

    }

    &:not(:hover) {
        border: none;
        background-color: $PrimaryColor;
    }
}