.project-container {
    position: relative;

    .project-content {
        padding: 2rem;
        width: 100%;

        .project-top {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 2rem;
            text-align: center;

            .project-title {
                color: yellow;
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 10px;
            }

            .project-headline {
                color: white;
                font-size: 48px;
                font-weight: 700;
                letter-spacing: 0.8px;

                @media screen and (max-width: 1000px) {
                    font-size: 38px;
                }

                @media screen and (max-width: 400px) {
                    font-size: 28px;
                }
            }

            .paragraph {
                color: #61616C;
                font-size: 18px;
                text-align: center;
            }
        }

        .project-bottom {
            padding: 2rem;
        }
    }
}


.project-container .nav.nav-pills {
    width: 100%;
    overflow: hidden;
    gap: 50px;
}



.project-container .nav.nav-pills .nav-link {
    color: #fff;
    font-size: 18px;
    letter-spacing: 0.8px;
    font-weight: 500;
    position: relative;
    transition: 0.3s ease-in-out;
    text-align: center;
    z-index: 0;

    border: none;
    background: transparent;
    padding-bottom: 12px;

}

.project-container .nav.nav-pills .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 4%;
    background: white;
    border-radius: 20px;
    bottom: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}

.project-container .nav.nav-pills .nav-link.active::before {
    width: 30% !important;
}

.project-container .nav.nav-pills .nav-link.active {
    color: #F89E52;
}




// .project-card-container {
//     position: relative;
//     border-radius: 30px;
//     overflow: hidden;
//     margin: 10px;
//     height: 100%;
//     transition: 0.4s ease-in-out;
//     background: red;
//     cursor: pointer;

//     .project-card-content {
//         .project-image {
//             width: 100%;
//             object-fit: contain;
//         }

//         .proj-txtx {
//             display: none;
//             position: absolute;
//             text-align: center;
//             top: 65%;
//             left: 50%;
//             transform: translate(-50%, -50%);
//             transition: 0.5s ease-in-out;
//             opacity: 0;
//             width: 100%;

//             h4 {
//                 font-size: 30px;
//                 font-weight: 700;
//                 letter-spacing: 0.8px;
//                 line-height: 1.1em;
//             }

//             span {
//                 font-style: italic;
//                 font-weight: 400;
//                 font-size: 15px;
//                 letter-spacing: 0.8px;
//             }
//             &:hover{
//                 display: block;
//             }
//         }
//     }

//     &::before {
//         content: "";
//         opacity: 0.85;
//         position: absolute;
//         width: 100%;
//         height: 0;
//     }

//     &:hover::before {
//         height: 100%;
//     }

//     &:hover{
//         height: 100%;
//         filter: blur(2px);
//     }
// }



// .proj-imgbx:hover .proj-txtx {
//     top: 50%;
//     opacity: 1;
// }

$primary-color: #9270FF;
$secondary-color: #292930;
$yellow: #f1f026;
$textgrey: #888E97;

.cardImage {
    width: 31%;
    transition: transform 0.8s ease;
    height: 280px;
    margin: 0% auto;
    margin-bottom: 30px;
    overflow: hidden;
    border: #9270FF;

    img {
        height: 170px;
        object-fit:contain;
        background-repeat: no-repeat;
        overflow: hidden;
    }

    &:hover {
        transform: scale(1.1);
    }
}

.row > * {
    padding-right: 0;
    padding-left: 0;
}

@media screen and (max-width: 450px) {
    .cardImage {
        width: 100%;
    }
}

.closeBtn {
    background-color: #F89E52;
    border: #F89E52;

    &:active {
        background-color: #F89E52;
        opacity: 0.5;
    }

    &:hover {
        background-color: #F89E52;
        opacity: 0.9;
    }
}

.tab-content {
    width: 100%;
}
