@import "/src/assets/colors.scss";



.header-container {
    z-index: 99;

    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // padding: 2rem;
        height: 5rem;
        width: 100%;

        .left-container-brand {
            display: flex;
        }




        .center-container-nav {
            .options {
                display: flex;
                margin: 0 auto;
                gap: 30px;
                list-style-type: none;
                padding: 0.3rem;


                .list {
                    font-size: large;
                    color: white;
                    font-weight: 500;

                    &:hover {
                        cursor: pointer;
                        color: $PrimaryColor;
                        transition: 0.3s ease-in-out;

                    }

                }

                .active {
                    color: $PrimaryColor;
                    font-weight: 500;
                    cursor: pointer;
                }
            }

            @media (max-width: 1025px) {
                display: none;
            }

        }

        .header-cv {
            @media (max-width: 1025px) {
                display: none;
            }
        }

        .menu-modal {
            display: none;

            @media (max-width: 1025px) {
                display: block;
            }

        }

        @media (max-width: 200px) {
            padding: 0rem;
        }



    }

    &.sticky-header {
        position: sticky;
        top: 0;
        transform: translateY(-80px);
        background-color: $DarkCharcoal;
        box-shadow: 1px 1px 10px 1px black;
        animation: stickyHeader 0.5s ease forwards;

    }

    .main-logo {
        font-weight: 700;
        background: radial-gradient(circle, #6142ab, #624aba, #6153c9, #5f5cd9, #5b65e9, #8d61e5, #b35cde, #d258d5, #fd51ab, #ff6182, #ff7d61, #fa9c4c);
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-style: oblique;
        white-space: nowrap;

        @media (max-width: 420px) {
            display: none;
        }
    }

    .mini-logo {
        display: none;
        font-weight: 700;
        background: radial-gradient(circle, #6142ab, #624aba, #6153c9, #5f5cd9, #5b65e9, #8d61e5, #b35cde, #d258d5, #fd51ab, #ff6182, #ff7d61, #fa9c4c);
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-style: oblique;

        @media (max-width: 420px) {
            display: block;
        }
    }
}

@keyframes stickyHeader {
    0% {
        transform: translateY(-80px);
    }

    100% {
        transform: translateY(0px);
    }
}



//MODAL 
.modal-options {
    line-height: 60px;
    padding: 1rem;



    .list {
        font-size: large;
        color: white;
        font-weight: 500;

        &:hover {
            cursor: pointer;
            color: $PrimaryColor;
            transition: 0.3s ease-in-out;

        }

    }

    .active {
        color: $PrimaryColor;
        font-weight: 500;
        cursor: pointer;
    }


}

.modal-cv-btn {
    width: 10rem;
    overflow: hidden;
}


.offcanvas-title {
    margin-top: 20px;

    .main-logo {
        font-weight: 700;
        background: radial-gradient(circle, #6142ab, #624aba, #6153c9, #5f5cd9, #5b65e9, #8d61e5, #b35cde, #d258d5, #fd51ab, #ff6182, #ff7d61, #fa9c4c);
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-style: oblique;
        white-space: nowrap;

        @media (max-width: 420px) {
            display: none;
        }
    }

    .mini-logo {
        display: none;
        font-weight: 700;
        background: radial-gradient(circle, #6142ab, #624aba, #6153c9, #5f5cd9, #5b65e9, #8d61e5, #b35cde, #d258d5, #fd51ab, #ff6182, #ff7d61, #fa9c4c);
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-style: oblique;

        @media (max-width: 420px) {
            display: block;
        }
    }

}