@keyframes tilt {
    0% {
        transform: rotate(0deg);
    }

    50% {

        transform: rotate(25deg);

    }

    100% {
        transform: rotate(0deg);
    }

}

@keyframes rotate {
    0% {
        transform: rotate(-360deg);
    }
}

@keyframes mover {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }

    20% {
        transform: translate(73px, -1px) rotate(36deg);
    }

    40% {
        transform: translate(141px, 72px) rotate(72deg);
    }

    60% {
        transform: translate(83px, 122px) rotate(108deg);
    }

    80% {
        transform: translate(-40px, 72px) rotate(144deg);
    }

    100% {
        transform: translate(0px, 0px) rotate(0deg);
    }

}